/zsh-3.0.8.1/Src/00_entry.o
/zsh-3.0.8.1/Src/access.o
/zsh-3.0.8.1/Src/builtin.o
/zsh-3.0.8.1/Src/builtin.pro
/zsh-3.0.8.1/Src/compat.o
/zsh-3.0.8.1/Src/compat.pro
/zsh-3.0.8.1/Src/cond.o
/zsh-3.0.8.1/Src/cond.pro
/zsh-3.0.8.1/Src/dirent.o
/zsh-3.0.8.1/Src/exec.o
/zsh-3.0.8.1/Src/exec.pro
/zsh-3.0.8.1/Src/fmalloc.o
/zsh-3.0.8.1/Src/fork.o
/zsh-3.0.8.1/Src/fstat.o
/zsh-3.0.8.1/Src/fullclip.o
/zsh-3.0.8.1/Src/glob.o
/zsh-3.0.8.1/Src/glob.pro
/zsh-3.0.8.1/Src/hashtable.o
/zsh-3.0.8.1/Src/hashtable.pro
/zsh-3.0.8.1/Src/hist.o
/zsh-3.0.8.1/Src/hist.pro
/zsh-3.0.8.1/Src/init.o
/zsh-3.0.8.1/Src/init.pro
/zsh-3.0.8.1/Src/input.o
/zsh-3.0.8.1/Src/input.pro
/zsh-3.0.8.1/Src/io.o
/zsh-3.0.8.1/Src/jobs.o
/zsh-3.0.8.1/Src/jobs.pro
/zsh-3.0.8.1/Src/killnice.o
/zsh-3.0.8.1/Src/lex.o
/zsh-3.0.8.1/Src/lex.pro
/zsh-3.0.8.1/Src/linklist.o
/zsh-3.0.8.1/Src/linklist.pro
/zsh-3.0.8.1/Src/loop.o
/zsh-3.0.8.1/Src/loop.pro
/zsh-3.0.8.1/Src/math.o
/zsh-3.0.8.1/Src/math.pro
/zsh-3.0.8.1/Src/mem.o
/zsh-3.0.8.1/Src/mem.pro
/zsh-3.0.8.1/Src/nt_execve.o
/zsh-3.0.8.1/Src/ntdbg.o
/zsh-3.0.8.1/Src/ntermcap.o
/zsh-3.0.8.1/Src/params.o
/zsh-3.0.8.1/Src/params.pro
/zsh-3.0.8.1/Src/parse.o
/zsh-3.0.8.1/Src/parse.pro
/zsh-3.0.8.1/Src/shell_init.o
/zsh-3.0.8.1/Src/signal.o
/zsh-3.0.8.1/Src/signals.o
/zsh-3.0.8.1/Src/signals.pro
/zsh-3.0.8.1/Src/stdio.o
/zsh-3.0.8.1/Src/subst.o
/zsh-3.0.8.1/Src/subst.pro
/zsh-3.0.8.1/Src/tconsole.o
/zsh-3.0.8.1/Src/text.o
/zsh-3.0.8.1/Src/text.pro
/zsh-3.0.8.1/Src/unistd.o
/zsh-3.0.8.1/Src/utils.o
/zsh-3.0.8.1/Src/utils.pro
/zsh-3.0.8.1/Src/watch.o
/zsh-3.0.8.1/Src/watch.pro
/zsh-3.0.8.1/Src/zle_bindings.o
/zsh-3.0.8.1/Src/zle_hist.o
/zsh-3.0.8.1/Src/zle_hist.pro
/zsh-3.0.8.1/Src/zle_main.o
/zsh-3.0.8.1/Src/zle_main.pro
/zsh-3.0.8.1/Src/zle_misc.o
/zsh-3.0.8.1/Src/zle_misc.pro
/zsh-3.0.8.1/Src/zle_move.o
/zsh-3.0.8.1/Src/zle_move.pro
/zsh-3.0.8.1/Src/zle_refresh.o
/zsh-3.0.8.1/Src/zle_refresh.pro
/zsh-3.0.8.1/Src/zle_tricky.o
/zsh-3.0.8.1/Src/zle_tricky.pro
/zsh-3.0.8.1/Src/zle_utils.o
/zsh-3.0.8.1/Src/zle_utils.pro
/zsh-3.0.8.1/Src/zle_vi.o
/zsh-3.0.8.1/Src/zle_vi.pro
/zsh-3.0.8.1/Src/zle_word.o
/zsh-3.0.8.1/Src/zle_word.pro
/zsh-3.0.8.1/Src/zsh.exe
/zsh-3.0.8.1/Src/zsh.o
/zsh-3.0.8.1/Src/zsh_support.o
/zsh-3.0.8.1/Src/zz_ntb2.o
