/C/Util/7z/Debug
/C/Util/7z/Release
/C/Util/7zipInstall/Debug
/C/Util/7zipInstall/Release
/C/Util/7zipUninstall/Debug
/C/Util/7zipUninstall/Release
/C/Util/Lzma/Debug
/C/Util/Lzma/Release
/C/Util/LzmaLib/Debug
/C/Util/LzmaLib/Release
/C/Util/SfxSetup/Debug
/C/Util/SfxSetup/Release
/CPP/7zip/Archive/7z/Debug
/CPP/7zip/Archive/7z/Release
/CPP/7zip/Bundles/Alone/Debug
/CPP/7zip/Bundles/Alone/DebugU
/CPP/7zip/Bundles/Alone/Release
/CPP/7zip/Bundles/Alone/ReleaseU
/CPP/7zip/Bundles/Alone7z/Debug
/CPP/7zip/Bundles/Alone7z/DebugU
/CPP/7zip/Bundles/Alone7z/Release
/CPP/7zip/Bundles/Alone7z/ReleaseU
/CPP/7zip/Bundles/Fm/Debug
/CPP/7zip/Bundles/Fm/DebugU
/CPP/7zip/Bundles/Fm/Release
/CPP/7zip/Bundles/Fm/ReleaseU
/CPP/7zip/Bundles/Format7zF/Debug
/CPP/7zip/Bundles/Format7zF/Release
/CPP/7zip/Bundles/LzmaCon/Debug
/CPP/7zip/Bundles/LzmaCon/Release
/CPP/7zip/Bundles/SFXCon/Debug
/CPP/7zip/Bundles/SFXCon/Release
/CPP/7zip/Bundles/SFXSetup/Debug
/CPP/7zip/Bundles/SFXSetup/Release
/CPP/7zip/Bundles/SFXSetup/ReleaseD
/CPP/7zip/Bundles/SFXWin/Debug
/CPP/7zip/Bundles/SFXWin/Release
/CPP/7zip/Bundles/SFXWin/ReleaseD
/CPP/7zip/UI/Client7z/Debug
/CPP/7zip/UI/Client7z/Release
/CPP/7zip/UI/Console/Debug
/CPP/7zip/UI/Console/DebugU
/CPP/7zip/UI/Console/Release
/CPP/7zip/UI/Console/ReleaseU
/CPP/7zip/UI/Explorer/Debug
/CPP/7zip/UI/Explorer/DebugU
/CPP/7zip/UI/Explorer/Release
/CPP/7zip/UI/Explorer/ReleaseU
/CPP/7zip/UI/Far/Debug
/CPP/7zip/UI/Far/Release
/CPP/7zip/UI/FileManager/Debug
/CPP/7zip/UI/FileManager/DebugU
/CPP/7zip/UI/FileManager/Release
/CPP/7zip/UI/FileManager/ReleaseU
/CPP/7zip/UI/GUI/Debug
/CPP/7zip/UI/GUI/DebugU
/CPP/7zip/UI/GUI/Release
/CPP/7zip/UI/GUI/ReleaseU
/Build/7-zip.dll
/Build/7z.dll
/Build/7z.exe
/Build/7z.sfx
/Build/7zCon.sfx
/Build/7zFM.exe
/Build/7zG.exe
/Build/Uninstall.exe
*.ncb
*.opt
*.plg
