<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- KeyPath is necessary for multi-file components to identify the key file - preferrably versioned. -->
        <ComponentGroup Id="Client" Directory="INSTALLFOLDER">
            <ComponentGroupRef Id="Shared" />
            <Component>
                <File Name="ssh.exe" KeyPath="yes" />
                <File Name="ssh.pdb" />
            </Component>
            <Component>
                <File Name="sftp.exe" KeyPath="yes" />
                <File Name="sftp.pdb" />
            </Component>
            <Component>
                <File Name="ssh-add.exe" KeyPath="yes" />
                <File Name="ssh-add.pdb" />
            </Component>
            <Component>
                <File Name="ssh-keyscan.exe" KeyPath="yes" />
                <File Name="ssh-keyscan.pdb" />
            </Component>
            <Component Id="ClientPATH" Guid="F07FFA0C-B5CF-45A3-9013-A7420DDFD654">
                <!-- Use same property condition as PowerShell. We can use a shared component GUID here because there should be only one installed on a system. -->
                <Condition>ADD_PATH=1</Condition>
                <Environment Id="ClientPATH" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="first" System="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
